body{
	 background-color: #00173f; 
}

h1{
	font-size: 30px;
	text-align: center;
	color: white;

}

p {

	text-align: center;
	color: white;
}

.pictures {
	margin: 30px;
    
}

.youtube {
	margin: 30px;


}